In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from copy import deepcopy
from sklearn import preprocessing
import numpy as np

In [2]:
data = pd.read_csv('./CLeanData.csv')
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus,University
0,female,group B,Karachi,Punjabi,Reading,High,Doctor,House Wife,CS,BSCS,A+,A+,Karachi,FAST NUCES
1,female,group C,Karachi,Urdu,Reading,Medium,Engrr,House Wife,Pre-Engrr,BSEE,B,B,Islamabad,FAST NUCES
2,female,group B,Lahore,Urdu,Sports,Medium,Engrr,House Wife,Pre-Engrr,BSCS,B,A,Lahore,FAST NUCES
3,male,group A,Karachi,Urdu,Sports,High,Doctor,House Wife,Pre-Engrr,BSCS,A+,A+,Islamabad,FAST NUCES
4,male,group C,Peshawar,Urdu,Gaming,High,Doctor,House Wife,CS,BSEE,A+,A+,Peshawar,FAST NUCES

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              250 non-null    object
 1   Race/Ethnicity      250 non-null    object
 2   Home_City           250 non-null    object
 3   Preferred_Langauge  250 non-null    object
 4   Hobby_Interest      250 non-null    object
 5   Budget              250 non-null    object
 6   Fathers_Occupation  250 non-null    object
 7   Mothers_Occupation  250 non-null    object
 8   Study_Group         250 non-null    object
 9   Degree_Program      250 non-null    object
 10  Matric Grade        250 non-null    object
 11  Inter Grade         250 non-null    object
 12  Campus              250 non-null    object
 13  University          250 non-null    object
dtypes: object(14)
memory usage: 27.5+ KB

In [4]:
data.describe()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus,University
count,250,250,250,250,250,250,250,250,250,250,250,250,250,250
unique,2,5,9,5,5,3,5,3,5,9,9,8,4,5
top,male,group C,Lahore,Urdu,Nothing,Medium,Doctor,House Wife,Pre-Engrr,BSCS,A+,A+,Islamabad,FAST NUCES
freq,129,94,58,123,67,121,80,114,79,76,108,65,107,50

In [5]:
data['University'].value_counts()

FAST NUCES    50
COMSATS       50
NUST          50
LUMS          50
KMC           50
Name: University, dtype: int64

In [6]:
data['Gender'].value_counts()

male      129
female    121
Name: Gender, dtype: int64

In [7]:
data['Race/Ethnicity'].value_counts()

group C    94
group B    58
group D    47
group A    43
group E     8
Name: Race/Ethnicity, dtype: int64

In [8]:
data['Home_City'].value_counts()

Lahore       58
Karachi      53
Peshawar     42
Kohat        24
Islamabad    21
Sialkot      19
Gujrat       15
Bakhar       11
Kashmir       7
Name: Home_City, dtype: int64

In [9]:
data['Preferred_Langauge'].value_counts()

Urdu       123
Pashto      40
Punjabi     37
English     31
Hinko       19
Name: Preferred_Langauge, dtype: int64

In [10]:
data['Hobby_Interest'].value_counts()

Nothing    67
Reading    61
Gaming     51
Sports     40
Writing    31
Name: Hobby_Interest, dtype: int64

In [11]:
data['Budget'].value_counts()

Medium    121
High      101
Low        28
Name: Budget, dtype: int64

In [12]:
data['Fathers_Occupation'].value_counts()

Doctor     80
Engrr      64
Teacher    54
Army       33
Retired    19
Name: Fathers_Occupation, dtype: int64

In [13]:
data['Mothers_Occupation'].value_counts()

House Wife    114
Doctor         81
Teacher        55
Name: Mothers_Occupation, dtype: int64

In [14]:
data['Study_Group'].value_counts()

Pre-Engrr    79
CS           65
Pre-Med      53
Arts         34
Commerce     19
Name: Study_Group, dtype: int64

In [15]:
data['Degree_Program'].value_counts()

BSCS       76
Medical    48
BBA        37
BSEE       29
BBAF       23
BSME       14
BSSE       13
BSCE        8
BSAF        2
Name: Degree_Program, dtype: int64

In [16]:
data['Matric Grade'].value_counts()

A+    108
A      59
B      29
B+     21
A-     12
B-     10
C+      7
C-      3
C       1
Name: Matric Grade, dtype: int64

In [17]:
data['Inter Grade'].value_counts()

A+    65
A     65
B+    45
A-    25
B-    24
B     22
C+     3
C-     1
Name: Inter Grade, dtype: int64

In [18]:
data['Campus'].value_counts()

Islamabad    107
Lahore        71
Peshawar      64
Karachi        8
Name: Campus, dtype: int64

In [19]:
data['University'].value_counts()

FAST NUCES    50
COMSATS       50
NUST          50
LUMS          50
KMC           50
Name: University, dtype: int64

#### Transforming data into numeric for machine learning

In [20]:
data_2 = data.copy()
data_2.head(1)

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus,University
0,female,group B,Karachi,Punjabi,Reading,High,Doctor,House Wife,CS,BSCS,A+,A+,Karachi,FAST NUCES

In [31]:
le = preprocessing.LabelEncoder()

gender = le.fit_transform(list(data_2['Gender']))
race = le.fit_transform(list(data_2['Race/Ethnicity']))
home_city = le.fit_transform(list(data_2['Home_City']))
preferred_lang = le.fit_transform(list(data_2['Preferred_Langauge']))
hobby_interest = le.fit_transform(list(data_2['Hobby_Interest']))
budget = le.fit_transform(list(data_2['Budget']))
F_Occ = le.fit_transform(list(data_2['Fathers_Occupation']))
M_Occ = le.fit_transform(list(data_2['Mothers_Occupation']))
study_group = le.fit_transform(list(data_2['Study_Group']))
degree_program = le.fit_transform(list(data_2['Degree_Program']))
matric_grade = le.fit_transform(list(data_2['Matric Grade']))
inter_grade = le.fit_transform(list(data_2['Inter Grade']))
campus = le.fit_transform(list(data_2['Campus']))

class_attribute = le.fit_transform(list(data_2['University']))

data_numeric = pd.DataFrame(list(zip(gender, race, home_city, preferred_lang, hobby_interest, budget, F_Occ, M_Occ, study_group,
                                     degree_program, matric_grade, inter_grade, campus, class_attribute)), columns=['Gender', 'Race/Ethnicity', 'Home_City', 'Preferred_Langauge', 'Hobby_Interest', 'Budget', 'Fathers_Occupation', 'Mothers_Occupation', 'Study_Group', 'Degree_Program', 'Matric Grade', 'Inter Grade', 'Campus', 'Univerity'])

X = pd.DataFrame(list(zip(gender, race, home_city, preferred_lang, hobby_interest, budget, F_Occ, M_Occ, study_group,
                                     degree_program, matric_grade, inter_grade, campus)), columns=['Gender', 'Race/Ethnicity', 'Home_City', 'Preferred_Langauge', 'Hobby_Interest', 'Budget', 'Fathers_Occupation', 'Mothers_Occupation', 'Study_Group', 'Degree_Program', 'Matric Grade', 'Inter Grade', 'Campus'])

y = list(class_attribute)

In [32]:
data_numeric.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus,Univerity
0,0,1,3,3,2,0,1,1,1,4,1,1,1,1
1,0,2,3,4,2,2,2,1,3,5,3,3,0,1
2,0,1,6,4,3,2,2,1,3,4,3,0,2,1
3,1,0,3,4,3,0,1,1,3,4,1,1,0,1
4,1,2,7,4,0,0,1,1,1,5,1,1,3,1

In [26]:
data_numeric.to_csv('CleanData_Numeric.csv', index=False)