In [1]:
import pandas as pd
from copy import deepcopy
from sklearn import preprocessing
import numpy as np
import pymongo
import pickle
import certifi
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('./CleanData.csv')
data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus,University
0,female,group B,Karachi,Punjabi,Reading,High,Doctor,House Wife,CS,BSCS,A+,A+,Karachi,FAST NUCES
1,female,group C,Karachi,Urdu,Reading,Medium,Engrr,House Wife,Pre-Engrr,BSEE,B,B,Islamabad,FAST NUCES
2,female,group B,Lahore,Urdu,Sports,Medium,Engrr,House Wife,Pre-Engrr,BSCS,B,A,Lahore,FAST NUCES
3,male,group A,Karachi,Urdu,Sports,High,Doctor,House Wife,Pre-Engrr,BSCS,A+,A+,Islamabad,FAST NUCES
4,male,group C,Peshawar,Urdu,Gaming,High,Doctor,House Wife,CS,BSEE,A+,A+,Peshawar,FAST NUCES

### Comment this out later

In [3]:
from sklearn.model_selection import train_test_split
data_2 = pd.read_csv('./CleanData_Numeric.csv')

X = data_2.iloc[:, 0:13]
y = data_2.iloc[:, 13]

X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state=99)

In [4]:
X_test

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
171,1,1,3,0,4,2,1,2,4,8,1,1,3
227,0,2,3,4,2,2,2,1,3,5,3,3,0
229,0,2,1,4,4,1,3,0,3,6,2,4,0
40,1,4,2,4,3,0,4,2,3,4,3,0,2
127,0,4,4,4,1,2,1,1,0,1,8,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,0,3,8,4,3,0,1,0,1,4,0,3,0
219,0,2,6,2,1,2,1,1,0,1,1,0,0
36,0,1,6,4,4,0,1,2,0,0,0,0,2
194,1,1,4,2,2,2,4,0,1,4,0,1,2
138,0,0,5,4,2,0,4,0,4,8,1,3,3

In [5]:
def load_saved_model_from_db(model_name, client, db, dbconnection):
    json_data = {}

    myclient = pymongo.MongoClient(client, tlsCAFile=certifi.where())

    mydb = myclient[db]
    mycon = mydb[dbconnection]
    data = mycon.find({"name": model_name})

    for i in data:
        json_data = i

    pickled_model = json_data[model_name]

    return pickle.loads(pickled_model)

### Fetching Data of user

### Assuming CNIC Given is '13302-0464670-3'

In [4]:
CNIC = '13302-0464670-3'

## Assuming text extracted from image got the following information
study_group = 'CS'
matric_marks = 998  # Out of 1100
inter_marks = 900 #Out of 1100

In [5]:
client = pymongo.MongoClient(
    'mongodb+srv://nafay:password1234@mernapp.fnkr4nr.mongodb.net/', tlsCAFile=certifi.where())
db = client['FYP']

# print(client.list_database_names())
col = db['datas']
cursor = col.find({"CNIC": CNIC})
for doc in cursor:
    print(doc)

{'_id': ObjectId('63c47d6753efd07287c65aab'), 'CNIC': '13302-0464670-3', 'budget': 9608000, 'interest': 'Yeaa...........', 'degree_program': 'BSIT', 'preferred_location': 'Dera-Ghazi-Khan', 'transcript': 'image_1673821543629--Wedding Invitation_B.png', '__v': 0}

In [393]:
rfc = {'inserted_id': '63c442ce47e997ce5c9f2cb3',
       'model_name': 'Random_Forest_Classification', 'created_time': 1673806542.9923818}
svc = {'inserted_id': '63c442d147e997ce5c9f2cb5',
       'model_name': 'Support Vector Machine', 'created_time': 1673806545.1320043}
dtc = {'inserted_id': '63c442d247e997ce5c9f2cb7',
       'model_name': 'Decision Tree Classification', 'created_time': 1673806546.0736213}

In [394]:
# Loading RFC Model from DB
rfc = load_saved_model_from_db(
    model_name=rfc['model_name'], client='mongodb+srv://nafay:password1234@mernapp.fnkr4nr.mongodb.net/', db='FYP', dbconnection='ML_models')

# Loading SVM Model from DB
svc = load_saved_model_from_db(
    model_name=svc['model_name'], client='mongodb+srv://nafay:password1234@mernapp.fnkr4nr.mongodb.net/', db='FYP', dbconnection='ML_models')

# Loading DTC Model from DB
dtc = load_saved_model_from_db(
    model_name=dtc['model_name'], client='mongodb+srv://nafay:password1234@mernapp.fnkr4nr.mongodb.net/', db='FYP', dbconnection='ML_models')

### Assuming Test data coming from the web:

In [395]:
user_data = {
    'Gender': "male",
    'Race/Ethnicity': "group B",
    'Home_City': "Peshawar",
    'Preferred_Langauge': "Pashto",
    'Hobby_Interest': "Reading",
    'Budget': "Low",
    'Fathers_Occupation': "Doctor",
    'Mothers_Occupation':  "House Wife",
    'Study_Group':  "Pre-Engrr",
    'Degree_Program':  "BSME",
    'Matric Grade':  "A",
    'Inter Grade':  "A-",
    'Preferred_Location':  "Islamabad",
}

user_data = pd.DataFrame([user_data])

#Renaming last column
user_data.rename(columns={"Preferred_Location": "Campus"}, inplace=True)
user_data.head()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
0,male,group B,Peshawar,Pashto,Reading,Low,Doctor,House Wife,Pre-Engrr,BSME,A,A-,Islamabad

### Encoding data according to training model

In [396]:
X = data.iloc[:, 0:13]
y = data.iloc[:, 13]

y

0      FAST NUCES
1      FAST NUCES
2      FAST NUCES
3      FAST NUCES
4      FAST NUCES
          ...
245       COMSATS
246       COMSATS
247       COMSATS
248       COMSATS
249       COMSATS
Name: University, Length: 250, dtype: object

### Concatinating Data

In [397]:
X = pd.concat([X, user_data])
X.tail()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
246,male,group A,Sialkot,English,Nothing,High,Doctor,Doctor,CS,BBA,A+,A-,Lahore
247,female,group C,Sialkot,Pashto,Reading,High,Army,Doctor,CS,BBA,A+,A+,Lahore
248,female,group B,Gujrat,Urdu,Reading,Medium,Army,Doctor,Pre-Engrr,BSEE,A+,A+,Lahore
249,male,group C,Sialkot,Urdu,Reading,Medium,Army,Doctor,Pre-Engrr,BSEE,B,B,Lahore
0,male,group B,Peshawar,Pashto,Reading,Low,Doctor,House Wife,Pre-Engrr,BSME,A,A-,Islamabad

In [398]:
X.shape

(251, 13)

### Encoding Training Data

In [399]:
le = preprocessing.LabelEncoder()

gender = le.fit_transform(list(X['Gender']))
race = le.fit_transform(list(X['Race/Ethnicity']))
home_city = le.fit_transform(list(X['Home_City']))
preferred_lang = le.fit_transform(list(X['Preferred_Langauge']))
hobby_interest = le.fit_transform(list(X['Hobby_Interest']))
budget = le.fit_transform(list(X['Budget']))
F_Occ = le.fit_transform(list(X['Fathers_Occupation']))
M_Occ = le.fit_transform(list(X['Mothers_Occupation']))
study_group = le.fit_transform(list(X['Study_Group']))
degree_program = le.fit_transform(list(X['Degree_Program']))
matric_grade = le.fit_transform(list(X['Matric Grade']))
inter_grade = le.fit_transform(list(X['Inter Grade']))
campus = le.fit_transform(list(X['Campus']))

class_attribute = le.fit_transform(list(y))

X_prep = pd.DataFrame(list(zip(gender, race, home_city, preferred_lang, hobby_interest, budget, F_Occ, M_Occ, study_group,
                               degree_program, matric_grade, inter_grade, campus)), columns=['Gender', 'Race/Ethnicity', 'Home_City', 'Preferred_Langauge', 'Hobby_Interest', 'Budget', 'Fathers_Occupation', 'Mothers_Occupation', 'Study_Group', 'Degree_Program', 'Matric Grade', 'Inter Grade', 'Campus'])

y_prep = pd.DataFrame(list(class_attribute), columns=['University'])

In [400]:
X_prep.shape

(251, 13)

In [401]:
X_prep.tail()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
246,1,0,8,0,1,0,1,0,1,0,1,2,2
247,0,2,8,2,2,0,0,0,1,0,1,1,2
248,0,1,1,4,2,2,0,0,3,5,1,1,2
249,1,2,8,4,2,2,0,0,3,5,3,3,2
250,1,1,7,2,2,1,1,1,3,6,0,2,0

In [402]:
y_prep.shape

(250, 1)

In [403]:
user_data_prep = pd.DataFrame(X_prep.iloc[250])
user_data_prep = user_data_prep.transpose()
user_data_prep

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
250,1,1,7,2,2,1,1,1,3,6,0,2,0

### Removing last row (data from user) from X_data_prep

In [404]:
X_prep.drop([250], inplace=True)

In [405]:
X_prep.shape

(250, 13)

In [406]:
X_prep.tail()

,Gender,Race/Ethnicity,Home_City,Preferred_Langauge,Hobby_Interest,Budget,Fathers_Occupation,Mothers_Occupation,Study_Group,Degree_Program,Matric Grade,Inter Grade,Campus
245,1,1,4,2,2,2,4,0,1,4,0,1,2
246,1,0,8,0,1,0,1,0,1,0,1,2,2
247,0,2,8,2,2,0,0,0,1,0,1,1,2
248,0,1,1,4,2,2,0,0,3,5,1,1,2
249,1,2,8,4,2,2,0,0,3,5,3,3,2

In [407]:
recommendation = []
recommendation.append(rfc.predict(user_data_prep))
recommendation.append(svc.predict(user_data_prep))
recommendation.append(dtc.predict(user_data_prep))
# print(accuracy_score(Y_test, rfc.predict(X_test)))
# print(accuracy_score(Y_test, svc.predict(X_test)))
# print(accuracy_score(Y_test, dtc.predict(X_test)))

In [408]:
recommendation = np.array(recommendation)
recommendation

array([[4],
       [0],
       [4]], dtype=int64)

In [409]:
R = []
for i in range(len(recommendation)):
    R.append(recommendation[i][0])

In [410]:
R

[4, 0, 4]

In [411]:
from statistics import mode
University = mode(R)

In [412]:
if(University == 0):
    University = 'COMSATS'
elif(University == 1):
    University = 'FAST-NUCES'
elif(University == 2):
    University = 'KMC'
elif(University == 3):
    University = 'LUMS'
elif(University == 4):
    University = 'NUST'

# Recommendation

In [413]:
print(University)

NUST